<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>$Title$</title>
  <style>
    /* 全局样式 */
    body {
      margin: 0;
      font-family: 'Courier New', monospace;
      background-color: #121212;
      color: #00FF9C;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      overflow: hidden;
    }

    /* 表格布局 */
    table {
      border-spacing: 20px;
      border-collapse: collapse;
      width: 100%;
    }

    /* 表格单元格样式 */
    td {
      padding: 6px;
      background-color: #1A1A1A;
      border: 1px solid #00FF9C;
      border-radius: 10px;
      box-shadow: 0 0 10px #00FF9C;
      text-align: center;
    }

    .skill{
      background-color: #20282F;
      color: #879CB5;
      font-weight: 600;
      font-size: 12px;
      border-radius: 20px;
    ;
    }
    .skill td{
      padding: 0px;
      background-color: #0000;
      border: 0px solid #00FF9C;
      border-radius: 10px;
      box-shadow: 0 0 0px #00FF9C;
      text-align: center;
    }
    

    /* 各表格单元格特定样式 */
    #aa {
      height: 300px;
    }

    #ac, #ad, #ae {
      width: 500px;
      height: 500px;
    }

    /* 下拉菜单样式 */
    select {
      background-color: #1A1A1A;
      color: #00FF9C;
      border: 1px solid #00FF9C;
      padding: 10px;
      font-size: 18px;
      outline: none;
      border-radius: 5px;
      transition: all 0.3s ease;
    }

    select:hover, select:focus {
      box-shadow: 0 0 10px #00FF9C;
      border-color: #00FF9C;
    }

    /* 图片容器样式 */
    .img {
      width: 400px;
      height: 400px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      transition: transform 0.3s ease;
    }

    .img:hover {
      transform: scale(1.05);
    }
    /* Input number styling */
    input[type="number"] {
      width: 60px; /* Adjust width as needed */
      background-color: #1A1A1A;
      color: #00FF9C;
      border: 1px solid #00FF9C;
      padding: 5px;
      font-size: 18px;
      outline: none;
      border-radius: 5px;
      transition: all 0.3s ease;
    }

    input[type="number"]:hover,
    input[type="number"]:focus {
      box-shadow: 0 0 10px #00FF9C;
      border-color: #00FF9C;
    }
  </style>
  <script src="vue.min.js"></script>
</head>
<body>
<table id="app">
  <tr>
    <!-- 下拉菜单 -->
    <td colspan="1" style="border: none; box-shadow: 0 0 0px #000;text-align: left">
      <select v-model="img">
        <option value="01">Image 01</option>
        <option value="02">Image 02</option>
      </select>
    </td>
  </tr>
  <tr>
    <!-- 介绍 -->
    <td id="aa" colspan="1" valign="top">
      <table style="width: 100%;height:100%">
        <tr><td>名字</td><td>{{data[img].name}}</td></tr>
        <tr><td>阵营</td><td>{{data[img].camp}}</td></tr>
        <tr><td>流派</td><td>{{data[img].school}}</td></tr>
        <tr><td>职业</td><td>{{data[img].profes}}</td></tr>
      </table>
    </td>
    <td valign="top">
      <table>
        <tr>
          <td>Unbound 破界能力</td>
        </tr>
        <tr>
          <td></td>
        </tr>
      </table>
      <div style="height: 10px"></div>
      <table>
        <tr>
          <td>Perfection 臻境能力</td>
        </tr>
        <tr>
          <td></td>
        </tr>
      </table>
    </td>

    <!-- 图片和属性部分 -->
    <td id="ac" rowspan="2" valign="top">
      <table>
        <tr>
          <td>Innate 天资</td>
        </tr>
        <tr>
          <td>
            <table class="skill">
              <tr>
                <td style="padding: 5px;background-color: #28313D">{{this.data[this.img].innate.name}}</td>
              </tr>
              <tr>
                <td style="padding: 5px;border-top: 1px white solid"></td>
              </tr>
              <tr>
                <td style="padding: 5px;background-color: #28313D">
                  <div style="font-size: 12px;text-align: left;text-indent:20px" v-for="t of this.data[this.img].innate.contents.split('\n')">
                    {{t}}
                  </div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <div style="height: 10px"></div>
      <table>
        <tr>
          <td>Abilities 能力</td>
        </tr>
        <tr v-for="v of this.data[this.img].abilities">
          <td>
            <table class="skill">
              <tr>
                <td style="padding: 5px;background-color: #28313D">{{v.name}}</td>
              </tr>
              <tr>
                <td style="padding: 5px;border-top: 1px white solid"></td>
              </tr>
              <tr>
                <td style="padding: 5px;background-color: #28313D">
                  <div style="font-size: 12px;text-align: left;text-indent:20px" v-for="t of v.contents.split('\n')">
                    {{t}}
                  </div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <div style="height: 10px"></div>
      <table>
        <tr>
          <td>Ultimate 终极技能</td>
        </tr>
        <tr>
          <td>
            <table class="skill">
              <tr>
                <td colspan="3" style="padding: 5px;background-color: #28313D">{{this.data[this.img].ultimate.name}}</td>
              </tr>
              <tr>
                <td colspan="3"  style="padding: 5px;border-top: 1px white solid"></td>
              </tr>
              <tr>
                <td colspan="3" style="padding: 5px;background-color: #28313D">
                  <div style="font-size: 12px;text-align: left;text-indent:20px" v-for="t of this.data[this.img].ultimate.contents.split('\n')">
                    {{t}}
                  </div>
                </td>
              </tr>
              <tr>
                <td colspan="3" style="padding: 5px;border-top: 1px white solid"></td>
              </tr>
              <tr>
                <td colspan="3" style="padding: 5px;background-color: #28313D">
                  <div style="font-size: 12px;text-align: left;text-indent:30px" v-for="t of this.data[this.img].ultimate.val.split('\n')">
                    {{t}}
                  </div>
                </td>
              </tr>
              
              <tr>
                <td colspan="3" style="padding: 5px;border-top: 1px white solid"></td>
              </tr>
              <tr>
                <td style="padding: 5px;background-color: #28313D;color: #777;border-radius: 0px">
                 残片费用:{{this.data[this.img].ultimate.frag}}
                </td>
                <td style="padding: 5px;background-color: #28313D;color: #777;border-radius: 0px">
                 稳定费用:{{this.data[this.img].ultimate.stable}}
                </td>
                <td colspan="1" style="padding: 5px;background-color: #28313D;color: #777;border-radius: 0px">
                  冷却时间:{{this.data[this.img].ultimate.CD}}
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td id="ae" rowspan="2" valign="top">
      <table>
        <tr>
          <td>Fate Nexus 命缘</td>
        </tr>
        <tr>
          <td></td>
        </tr>
      </table>
      <div style="height: 10px"></div>
      <table>
        <tr>
          <td>The Talent Blooms 才能开花</td>
        </tr>
        <tr>
          <td></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <!-- 内嵌表格显示图片 -->
    <td>
      <div class="img" :style="{ backgroundImage: 'url(img/' + img + '.png)' }"></div>
    </td>

    <!-- 属性 -->
    <td id="ad" style="width: 480px">
      <table style="width: 480px">
        <tr>
          <td>等级</td>
          <td><input type="range" min="1" max="20" v-model="lvl"></td>
          <td>
            <input type="number" v-model="lvl" >
          </td>
          <td>
            {{border+pure+ clever+vigor+entangle+abstr }}
          </td>
        </tr>
      </table>
      <table style="width: 480px">
        <tr>
          <td>self 自我</td>
          <td width="75%">
            <div style="width: 100%;background-color: #FF003C;height: 25px;border-radius: 20px;position: relative">
              <div style="width: 100%;text-align: center;text-indent:0px;color:honeydew;font-size: 20px;line-height: 25px;font-weight: 800">{{120+border*17}}</div>
              <div style="position: absolute;top: 0;color:honeydew;right: 10px;font-size: 12px;line-height: 25px;font-weight: 800">+{{(pure*0.025).toFixed(2)}}</div>
              <div style="position: absolute;top: 0;color:honeydew;left: 20px;font-size: 10px;line-height: 14px;font-weight: 800">
                {{(painHp/(120+border*17)*100).toFixed(2)}}% ({{painHp.toFixed(2)}})
              </div>
              <div style="position: absolute;top: 14px;color:honeydew;left: 20px;font-size: 10px;line-height: 14px;font-weight: 800;width: 80px;text-align: center">
                {{blast}}
              </div>
            </div>
          </td>
        </tr>
      </table>
      <table style="width: 480px">
        <tr>
          <td>frag 残片</td>
          <td width="75%">
            
            <div style="width: 100%;background-color: #009CFF;height: 25px;border-radius: 20px;position: relative">
              <div style="width: 100%;text-align: center;color:honeydew;font-size: 20px;line-height: 25px;font-weight: 800">{{50+abstr*13}}</div>
              <div style="position: absolute;top: 0;color:honeydew;right: 10px;font-size: 12px;line-height: 25px;font-weight: 800">+{{(entangle*0.01).toFixed(2)}}</div>
            </div>
          </td>
        </tr>
      </table>
      <table style="width: 480px">
        <tr>
          <td>stable  稳定</td>
          <td width="75%">
            <div style="width: 100%;background-color: #FFBC3C;height: 25px;font-size: 12px;border-radius: 20px;position: relative">
              <div style="width: 100%;text-align: center;color:honeydew;font-size: 20px;line-height: 25px;font-weight: 800">{{vigor*11}}</div>
            </div>
          </td>
        </tr>
      </table>
      <div style="height: 10px"></div>
      <table style="width: 480px">
        <tr>
          <td>border 边界</td> <td>{{border}}</td>
          <td>pure 纯质</td> <td>{{pure}}</td>
        </tr>
        <tr>
          <td>clever 伶俐</td> <td>{{clever}}</td>
          <td>vigor 元气</td> <td>{{vigor}}</td>
        </tr>
        <tr>
          <td>entangle 缠结</td> <td>{{entangle}}</td>
          <td>abstraction 空想</td> <td>{{abstr}}</td>
        </tr>
      </table>
      <div style="height: 10px"></div>
      <table style="font-size: 12px;width: 480px">
        <tr>
          <td width="25%">hit 命中</td>
          <td width="25%">accuracy 精度</td>
          <td width="25%">damage 伤害</td>
          <td width="25%">force 技力</td>
        </tr>
        <tr>
          <td width="25%">{{Math.floor(vigor*1.2)}}</td>
          <td width="25%">{{Math.floor(clever*0.9)}}</td>
          <td width="25%">{{vigor}}</td>
          <td width="25%">{{clever}}</td>
        </tr>
      </table>
      <div style="height: 5px"></div>
      <table style="font-size: 12px;width: 480px">
        <tr>
          <td width="25%">counter 反射</td>
          <td width="25%">vscous 粘滞</td>
          <td width="25%">tensile 张力</td>
          <td width="25%">sanity 神智</td>
        </tr>
        <tr>
          <td width="25%">{{(clever/6).toFixed(2)}}({{(compRate((clever/6),0.05)*100).toFixed(2)}}%)</td>
          <td width="25%">{{(pure/7).toFixed(2)}}({{(compRate((pure/7),0.008)*100).toFixed(2)}}%)</td>
          <td width="25%">{{(pure/5).toFixed(2)}}({{(compRate((pure/5),0.01)*100).toFixed(2)}}%)</td>
          <td width="25%">{{(compRate((abstr),0.001)*100).toFixed(2)}}%</td>
        </tr>
      </table>
      <div style="height: 5px"></div>
      <table style="font-size: 12px;width: 480px">
        <tr>
          <td width="25%">focus 专注</td>
          <td width="25%">reflec 内省</td>
          <td width="25%">cognitive 认知</td>
          <td width="25%">memory 内存</td>
        
        </tr>
        <tr>
          <td width="25%">{{(entangle)}}({{spellspeed}}%)</td>
          <td width="25%">{{memory(abstr)}}</td>
          <td width="25%">{{compre(entangle/10)}}</td>
          <td width="25%">{{spell(border)}}</td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<script>
  "11"
  new Vue({
    el: '#app',
    data: {
      data:{
        "01":{
          name:"Graceful Princess",
          camp:"Consortium 财团",
          school:"Enderion 防护",
          profes:"Antimage 法师克星",
          prope:{
            border:[24,2.2],
            pure:[28,2.5],
            clever:[25,2.4],
            vigor:[26,2.6],
            entangle:[22,2.0],
            abstr:[20,2.0],
          },
          innate:{
            name:"宫廷礼节",
            contents:"宫廷礼节将阻止此英雄通过攻击对其他目标造成伤害,或者其他目标通过攻击对此英雄造成伤害.\n" +
                    "之后此英雄会为另一名单位施加标记,来表示礼节已不在对此单位生效.\n" +
                    "被标记的单位与此英雄距离超过1000，或双方之间5秒内没有进行过攻击,标记效果将被解除."
          },
          abilities:[
            {name:"凯旋而归",contents:"1\n2",frag:100/110/120/130,CD:24/21/18/15,stable:75},
            {name:"花之护盾",contents:""},
            {name:"优雅剑技",contents:""}
          ],
          ultimate:{
            name:"终结一击",
            contents:"迅速闪动到目标身前并进行一次刺击，刺击后将立刻产生3个圆形领域.\n白色领域的圆心固定在本次刺击的命中点.\n红色领域的圆心跟随此英雄.\n绿色领域的圆心跟随击中目标.\n" +
                    "红色或绿色领域完全脱离白色领域时，三个领域将瓦解;\n由红色领域触发时,对三个领域内的敌人造成伤害与眩晕;\n由绿色领域触发时,三个领域内友军被治疗并进行一次驱逐.",
            val:"施法距离:200\n白色领域半径:400\n红色/绿色领域半径:250\n刺击伤害【打击>撕裂 hit50 rd10 fa6】:150+f0.4/200+f0.4/250+f0.4\n" +
                "红色终结眩晕时间:2/2.25/2.5秒\n红色终结伤害【场域>崩溃 e400ms t10】:100/150/200\n绿色终结治疗【e400ms t10】:100/150/200",
            frag:"200/250/300",stable:"120",CD:"100/90/80"
          },
          
          
          fatenexus:{},
          unbound:{},
          perfection:{},
          talent:{}
        },
        "02":{
          name:"Graceful Princess",
          camp:"Consortium 财团",
          school:"Enderion 防护",
          profes:"Antimage 法师克星",
          prope:{
            painhp:10,
            border:[27,3.0],
            pure:[15,1.8],
            clever:[16,1.4],
            vigor:[24,2.8],
            entangle:[25,2.8],
            abstr:[15,1.2],
          },
        }
      },
      lvl:1,
      img: '01' // 默认图片
    },
    methods: {
      compRate(val,rate){
        let r = rate * Math.abs(val) / (1 + rate * Math.abs(val))
        return val >= 0 ? r : -r
      },
      compre(x) {
        x *= x;
        let b = 1;
        let fib1 = 1;
        let fib2 = 1;
        while (x >= fib2) {
          x -= fib2;
          b++;
          let nextFib = fib1 + fib2;
          fib1 = fib2;
          fib2 = nextFib;
        }
        return b;
      },
      spell(x) {
       x *= Math.PI;
       let b = 0;
       let threshold = 13;
       while (x >= threshold) {
        x -= threshold;
        b++;
        threshold *= 2;
       }
      return b;
     },
     memory(x) {
       x *= x;
       let b = 0;
       let threshold = 13;
       while (x >= threshold) {
         x -= threshold;
         b++;
         threshold *= 2;
       }
       return b;
     }
    },
    computed: {
      border() {return Math.floor(this.data[this.img].prope.border[0]+(this.data[this.img].prope.border[1]*(this.lvl-1)))},
      pure() {return Math.floor(this.data[this.img].prope.pure[0]+(this.data[this.img].prope.pure[1]*(this.lvl-1)))},
      clever() {return Math.floor(this.data[this.img].prope.clever[0]+(this.data[this.img].prope.clever[1]*(this.lvl-1)))},
      vigor() {return Math.floor(this.data[this.img].prope.vigor[0]+(this.data[this.img].prope.vigor[1]*(this.lvl-1)))},
      abstr() {return Math.floor(this.data[this.img].prope.abstr[0]+(this.data[this.img].prope.abstr[1]*(this.lvl-1)))},
      entangle() {return Math.floor(this.data[this.img].prope.entangle[0]+(this.data[this.img].prope.entangle[1]*(this.lvl-1)))},

      
      pain() {return this.border/7},
      painRate(){return 1-(this.pain*0.01)/((1+ Math.abs(this.pain)*0.01))},
      painHp(){return (this.border*17)/(16*this.painRate)},
      blast(){
        let hp = 120+this.border*17
        const coefA = this.painHp
        const coefB = 0.05
        let damageC = 0;
        let hits=0
        while (hp > damageC) {
          hits += 1;
          if (damageC >= coefA) {
            damageC+=(damageC/ coefA * coefB)+1;
          }
          else {
            damageC+=1
          }
        }  
        return hits
      },
      spellspeed(){
        return (1/(Math.pow(3,this.entangle/255))*100).toFixed(2)
      }
    },
  });
</script>
</body>
</html>